[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/n3manj4
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/n3manj4
	label-Verified = -1..+1 group user/n3manj4
	push = group user/n3manj4
	read = group user/n3manj4
	rebase = group user/n3manj4
	removeReviewer = group user/n3manj4
	submit = group user/n3manj4
[access "refs/heads/*"]
	create = group user/n3manj4
	push = +force group user/n3manj4
	pushMerge = group user/n3manj4
	read = group user/n3manj4
[access "refs/tags/*"]
	push = group user/n3manj4
	push = +force group user/n3manj4
